<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0010001002</key>
	<array>
		<dict>
			<key>主食</key>
			<dict>
				<key>cid</key>
				<string>0010001011</string>
				<key>img</key>
				<string>zhushi</string>
			</dict>
			<key>便当</key>
			<dict>
				<key>cid</key>
				<string>0010001013</string>
				<key>img</key>
				<string>biandang</string>
			</dict>
			<key>小吃</key>
			<dict>
				<key>cid</key>
				<string>0010001014</string>
				<key>img</key>
				<string>xiaochi</string>
			</dict>
			<key>汤粥</key>
			<dict>
				<key>cid</key>
				<string>0010001009</string>
				<key>img</key>
				<string>tangzhou</string>
			</dict>
			<key>素菜</key>
			<dict>
				<key>cid</key>
				<string>0010001008</string>
				<key>img</key>
				<string>sucai</string>
			</dict>
			<key>荤菜</key>
			<dict>
				<key>cid</key>
				<string>0010001007</string>
				<key>img</key>
				<string>huncai</string>
			</dict>
			<key>西点</key>
			<dict>
				<key>cid</key>
				<string>0010001010</string>
				<key>img</key>
				<string>xidian</string>
			</dict>
			<key>饮品</key>
			<dict>
				<key>cid</key>
				<string>0010001012</string>
				<key>img</key>
				<string>yinpin</string>
			</dict>
		</dict>
		<string>按菜品选择菜谱</string>
	</array>
	<key>0010001003</key>
	<array>
		<dict>
			<key>卤</key>
			<dict>
				<key>cid</key>
				<string>0010001027</string>
				<key>img</key>
				<string>lu</string>
			</dict>
			<key>拌</key>
			<dict>
				<key>cid</key>
				<string>0010001028</string>
				<key>img</key>
				<string>ban</string>
			</dict>
			<key>炒</key>
			<dict>
				<key>cid</key>
				<string>0010001016</string>
				<key>img</key>
				<string>chao</string>
			</dict>
			<key>炖</key>
			<dict>
				<key>cid</key>
				<string>0010001020</string>
				<key>img</key>
				<string>dun</string>
			</dict>
			<key>炝</key>
			<dict>
				<key>cid</key>
				<string>0010001026</string>
				<key>img</key>
				<string>qiang</string>
			</dict>
			<key>炸</key>
			<dict>
				<key>cid</key>
				<string>0010001018</string>
				<key>img</key>
				<string>zha</string>
			</dict>
			<key>烤</key>
			<dict>
				<key>cid</key>
				<string>0010001029</string>
				<key>img</key>
				<string>kao</string>
			</dict>
			<key>烩</key>
			<dict>
				<key>cid</key>
				<string>0010001022</string>
				<key>img</key>
				<string>hui</string>
			</dict>
			<key>焖</key>
			<dict>
				<key>cid</key>
				<string>0010001019</string>
				<key>img</key>
				<string>men</string>
			</dict>
			<key>煎</key>
			<dict>
				<key>cid</key>
				<string>0010001017</string>
				<key>img</key>
				<string>jian</string>
			</dict>
			<key>煮</key>
			<dict>
				<key>cid</key>
				<string>0010001025</string>
				<key>img</key>
				<string>zhu</string>
			</dict>
			<key>熏</key>
			<dict>
				<key>cid</key>
				<string>0010001023</string>
				<key>img</key>
				<string>xun</string>
			</dict>
			<key>红烧</key>
			<dict>
				<key>cid</key>
				<string>0010001015</string>
				<key>img</key>
				<string>hongshao</string>
			</dict>
			<key>腌</key>
			<dict>
				<key>cid</key>
				<string>0010001024</string>
				<key>img</key>
				<string>yan</string>
			</dict>
			<key>蒸</key>
			<dict>
				<key>cid</key>
				<string>0010001021</string>
				<key>img</key>
				<string>zheng</string>
			</dict>
		</dict>
		<string>按工艺选择菜谱</string>
	</array>
	<key>0010001004</key>
	<array>
		<dict>
			<key>上海菜</key>
			<dict>
				<key>cid</key>
				<string>0010001036</string>
				<key>img</key>
				<string>shanghaicai</string>
			</dict>
			<key>东北菜</key>
			<dict>
				<key>cid</key>
				<string>0010001039</string>
				<key>img</key>
				<string>dongbeicai</string>
			</dict>
			<key>京菜</key>
			<dict>
				<key>cid</key>
				<string>0010001038</string>
				<key>img</key>
				<string>jingcai</string>
			</dict>
			<key>台湾美食</key>
			<dict>
				<key>cid</key>
				<string>0010001042</string>
				<key>img</key>
				<string>taiwan</string>
			</dict>
			<key>客家菜</key>
			<dict>
				<key>cid</key>
				<string>0010001041</string>
				<key>img</key>
				<string>kejiacai</string>
			</dict>
			<key>川菜</key>
			<dict>
				<key>cid</key>
				<string>0010001031</string>
				<key>img</key>
				<string>chuancai</string>
			</dict>
			<key>徽菜</key>
			<dict>
				<key>cid</key>
				<string>0010001037</string>
				<key>img</key>
				<string>huicai</string>
			</dict>
			<key>日本料理</key>
			<dict>
				<key>cid</key>
				<string>0010001044</string>
				<key>img</key>
				<string>riben</string>
			</dict>
			<key>泰国菜</key>
			<dict>
				<key>cid</key>
				<string>0010001043</string>
				<key>img</key>
				<string>taiguo</string>
			</dict>
			<key>浙菜</key>
			<dict>
				<key>cid</key>
				<string>0010001034</string>
				<key>img</key>
				<string>zhecai</string>
			</dict>
			<key>湘菜</key>
			<dict>
				<key>cid</key>
				<string>0010001035</string>
				<key>img</key>
				<string>xiangcai</string>
			</dict>
			<key>粤菜</key>
			<dict>
				<key>cid</key>
				<string>0010001032</string>
				<key>img</key>
				<string>yuecai</string>
			</dict>
			<key>西北菜</key>
			<dict>
				<key>cid</key>
				<string>0010001040</string>
				<key>img</key>
				<string>xibeicai</string>
			</dict>
			<key>西餐</key>
			<dict>
				<key>cid</key>
				<string>0010001046</string>
				<key>img</key>
				<string>xican</string>
			</dict>
			<key>闽菜</key>
			<dict>
				<key>cid</key>
				<string>0010001033</string>
				<key>img</key>
				<string>mincai</string>
			</dict>
			<key>韩国料理</key>
			<dict>
				<key>cid</key>
				<string>0010001045</string>
				<key>img</key>
				<string>hanguo</string>
			</dict>
			<key>鲁菜</key>
			<dict>
				<key>cid</key>
				<string>0010001030</string>
				<key>img</key>
				<string>lucai</string>
			</dict>
		</dict>
		<string>按菜系选择菜谱</string>
	</array>
	<key>0010001005</key>
	<array>
		<dict>
			<key>下午茶</key>
			<dict>
				<key>cid</key>
				<string>0010001055</string>
				<key>img</key>
				<string>xiawuca</string>
			</dict>
			<key>二人世界</key>
			<dict>
				<key>cid</key>
				<string>0010001054</string>
				<key>img</key>
				<string>errenshijie</string>
			</dict>
			<key>产妇食谱</key>
			<dict>
				<key>cid</key>
				<string>0010001053</string>
				<key>img</key>
				<string>chanfu</string>
			</dict>
			<key>儿童食谱</key>
			<dict>
				<key>cid</key>
				<string>0010001049</string>
				<key>img</key>
				<string>ertong</string>
			</dict>
			<key>婴幼食谱</key>
			<dict>
				<key>cid</key>
				<string>0010001048</string>
				<key>img</key>
				<string>yinger</string>
			</dict>
			<key>孕妇食谱</key>
			<dict>
				<key>cid</key>
				<string>0010001047</string>
				<key>img</key>
				<string>yunfu</string>
			</dict>
			<key>宵夜</key>
			<dict>
				<key>cid</key>
				<string>0010001051</string>
				<key>img</key>
				<string>xiaoye</string>
			</dict>
			<key>懒人食谱</key>
			<dict>
				<key>cid</key>
				<string>0010001050</string>
				<key>img</key>
				<string>lanren</string>
			</dict>
			<key>素食</key>
			<dict>
				<key>cid</key>
				<string>0010001052</string>
				<key>img</key>
				<string>sucai</string>
			</dict>
		</dict>
		<string>按人群选择菜谱</string>
	</array>
	<key>0010001006</key>
	<array>
		<dict>
			<key>便秘</key>
			<dict>
				<key>cid</key>
				<string>0010001057</string>
				<key>img</key>
				<string>bianmi</string>
			</dict>
			<key>养生</key>
			<dict>
				<key>cid</key>
				<string>0010001063</string>
				<key>img</key>
				<string>yangsheng</string>
			</dict>
			<key>养胃</key>
			<dict>
				<key>cid</key>
				<string>0010001058</string>
				<key>img</key>
				<string>yangwei</string>
			</dict>
			<key>减肥</key>
			<dict>
				<key>cid</key>
				<string>0010001056</string>
				<key>img</key>
				<string>jianfei</string>
			</dict>
			<key>月经不调</key>
			<dict>
				<key>cid</key>
				<string>0010001061</string>
				<key>img</key>
				<string>yuejing</string>
			</dict>
			<key>润肺</key>
			<dict>
				<key>cid</key>
				<string>0010001065</string>
				<key>img</key>
				<string>runfei</string>
			</dict>
			<key>滋阴</key>
			<dict>
				<key>cid</key>
				<string>0010001059</string>
				<key>img</key>
				<string>ziyin</string>
			</dict>
			<key>美容</key>
			<dict>
				<key>cid</key>
				<string>0010001062</string>
				<key>img</key>
				<string>meirong</string>
			</dict>
			<key>补阳</key>
			<dict>
				<key>cid</key>
				<string>0010001060</string>
				<key>img</key>
				<string>buyang</string>
			</dict>
			<key>贫血</key>
			<dict>
				<key>cid</key>
				<string>0010001064</string>
				<key>img</key>
				<string>pinxue</string>
			</dict>
		</dict>
		<string>按功能选择菜谱</string>
	</array>
</dict>
</plist>
