<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>menuId</key>
		<string>00100010140000040018</string>
		<key>name</key>
		<string>紫薯蒙布朗</string>
		<key>recipe</key>
		<dict>
			<key>img</key>
			<string>http://f2.mob.com/null/2015/08/20/1440060709694.jpg</string>
			<key>ingredients</key>
			<string>["食材 500克 紫蕃薯（红薯、地瓜）","80ml 淡奶油","40克 黄油","约76克 消化饼"]</string>
			<key>method</key>
			<array>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060781743.jpg</string>
					<key>step</key>
					<string>1.黄油隔水融化（一个碗装黄油，置于另一个装着热水的大碗内）</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060782643.jpg</string>
					<key>step</key>
					<string>2.将消化饼压碎</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060783134.jpg</string>
					<key>step</key>
					<string>3.消化饼碎和融化的黄油拌匀</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060783845.jpg</string>
					<key>step</key>
					<string>4.蛋糕模（我用了一个圆型的小饭盒）内铺上保鲜膜，将拌好的饼碎铺进去，压平</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060784171.jpg</string>
					<key>step</key>
					<string>5.把蒸好蕃薯去皮压成薯泥</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060784853.jpg</string>
					<key>step</key>
					<string>6.将淡奶油打发</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060785076.jpg</string>
					<key>step</key>
					<string>7.薯泥和打发的奶油混合拌匀，至看不到白白的奶油为止</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060785240.jpg</string>
					<key>step</key>
					<string>8.拌好的薯泥加到刚才铺了消化饼的模子里面，填紧压平</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060786060.jpg</string>
					<key>step</key>
					<string>9.倒扣脱模，揭去保鲜膜即可（这里看到的上层其实是饼底哈，还要再倒扣一回使它在下面）</string>
				</dict>
			</array>
			<key>sumary</key>
			<string>这款甜点冷藏后更好吃，所以建议可以连模子一起放进冰箱冷藏，吃的时候才脱模切块 选用的模子或碗，最好要上下同宽的，这样出来的形状比较好看，记住里面一定要垫保鲜模，否则脱不了哦 不用放糖了，就用蕃薯本身具有的甜味</string>
			<key>title</key>
			<string>怎样做紫薯蒙布朗？</string>
		</dict>
		<key>thumbnail</key>
		<string>http://f2.mob.com/null/2015/08/20/1440060709694.jpg</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>00100010140000040012</string>
		<key>name</key>
		<string>起司鸡胸</string>
		<key>recipe</key>
		<dict>
			<key>img</key>
			<string>http://f2.mob.com/null/2015/08/20/1440060703268.jpg</string>
			<key>ingredients</key>
			<string>["2片 鸡胸肉","2片 艾曼特尔起司（EmmentalCheese）","1片 三明治火腿","1大匙 低筋面粉","1个 鸡蛋","100克 面包粉","2大匙 无盐奶油","2朵 水煮西兰花","2大匙 美式奶油玉米","1/4小匙 盐","少许 白胡椒粉"]</string>
			<key>method</key>
			<array>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060763502.jpg</string>
					<key>step</key>
					<string>1.鸡胸肉洗净，每片由中心往两侧片开成大片状，在片开的一面上撒些盐和胡椒粉；（为了使鸡胸肉薄一点，片好后可将鸡胸肉拍松，使其体积变大，肉质变薄），起司和火腿每片对切成2小片； 鸡蛋打散，与面粉，面包粉分别装在三个小盘中备用。</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060764040.jpg</string>
					<key>step</key>
					<string>2.再依次均匀的沾裹上面粉、蛋液、面包粉。烧热平底锅，加入2大匙橄榄油，后放入无盐奶油，待奶油熔化后放入鸡胸肉，用半煎炸的方式将鸡胸肉两面煎炸成金黄色后取出，用吸油纸将多余油脂吸干后，切块装盘，附上西兰花及美式奶油玉米即可。</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060764352.jpg</string>
					<key>step</key>
					<string>3.沙拉可用家里现有的蔬菜做</string>
				</dict>
			</array>
			<key>sumary</key>
			<string>起司的香浓配上鲜嫩鸡肉 然后外面炸的酥酥的 一定很好吃</string>
			<key>title</key>
			<string>怎样做起司鸡胸？</string>
		</dict>
		<key>thumbnail</key>
		<string>http://f2.mob.com/null/2015/08/20/1440060703268.jpg</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>00100010140000040014</string>
		<key>name</key>
		<string>意大利千层饼</string>
		<key>recipe</key>
		<dict>
			<key>img</key>
			<string>http://f2.mob.com/null/2015/08/20/1440060704866.jpg</string>
			<key>ingredients</key>
			<string>["牛肉馅300克、","帕玛森奶酪粉5克、","马苏里拉奶酪或者车达奶酪（擦成丝）、","意式云吞皮3张、","干红酒1汤匙（15ml）、","番茄250克、","番茄酱2汤匙（30ml）、","鲜奶油1汤匙（15ml）、","蒜茸5克、","洋葱（切碎）15克、","油2汤匙（30ml）、","黄油20克、","面粉20克、","牛奶150ml、","盐适量、","胡椒粉少量、","罗勒适量（如果有新鲜罗勒叶更好）"]</string>
			<key>method</key>
			<array>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060769369.jpg</string>
					<key>step</key>
					<string>1.1、 材料。 2、 先做牛肉馅，锅中烧热，放入1汤匙的油，放入10克洋葱碎洋葱碎炒香。 3、 放入牛肉炒散，炒变色。 4、 加入红酒、番茄酱、罗勒炒到牛肉香软。</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060769676.jpg</string>
					<key>step</key>
					<string>2.5、 用盐和胡椒粉调味。 6、 将炒好的牛肉馅盛出待用，这种牛肉馅也可以一次多做一些，用来拌面做菜都挺好的。 7、现在开始做番茄少司，将番茄用开水稍烫，去掉外皮和蒂，且成小丁，锅洗净，烧热，放入1汤匙的油，放入5克洋葱碎和蒜茸炒香，再放入番茄丁和1汤匙的番茄酱，用小火炖得变浓稠，加盐和胡椒调好味待用。 8、现在开始准备奶白汁了，将小的平底锅烧热，放入黄油熔化，加入面粉炒到稍稍变色，冲入牛奶搅匀加入鲜奶油、盐、胡椒调味</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060769845.jpg</string>
					<key>step</key>
					<string>3.9、 将调好的奶白汁过滤。 10、 馄饨皮用煮软。 11、 在烤盘内抹上黄油，放入一片馄饨皮，然后铺上一层牛肉馅。 12、 再浇上一层奶白汁、一层番茄少司，再铺上一层马苏里拉（或者车达）奶酪丝</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440060770037.jpg</string>
					<key>step</key>
					<string>4.13、 然后再放入一片馄饨皮，铺上一层牛肉馅，浇上一层奶白汁、一层番茄少司、铺上一层马苏里拉（或者车达）奶酪丝，最后放入一片馄饨皮、番茄少司、奶白汁、马苏里拉（或者车达）奶酪丝、帕玛森奶酪粉。 14、用锡纸包住放入烤箱180度烤30分钟，然后去掉锡纸，再烤一会儿，表面奶酪着色即可，吃的时候可以按口味配合帕玛森奶酪粉。</string>
				</dict>
			</array>
			<key>sumary</key>
			<string>意大利千层饼的做法简单是美食杰国外菜谱意大利餐菜谱的常见菜式，意大利千层饼使用牛肉 为烹饪主料，但怎么做意大利千层饼最好吃，主要看自己的口味习惯进行细节调整，让自己跟着感觉来做这道意大利千层饼.</string>
			<key>title</key>
			<string>怎样做意大利千层饼</string>
		</dict>
		<key>thumbnail</key>
		<string>http://f2.mob.com/null/2015/08/20/1440060704866.jpg</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>00100010130000035195</string>
		<key>name</key>
		<string>烟熏三文鱼饭团</string>
		<key>recipe</key>
		<dict>
			<key>img</key>
			<string>http://f2.mob.com/null/2015/08/20/1440029985331.jpg</string>
			<key>ingredients</key>
			<string>["罐头吞拿鱼 日本米 黄瓜 腌制萝卜 红萝卜 烟熏三文鱼"]</string>
			<key>method</key>
			<array>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440030006407.jpg</string>
					<key>step</key>
					<string>1.日本米煮好</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440030006762.jpg</string>
					<key>step</key>
					<string>2.加醋和盐，糖，然后待冷，放入模具</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440030007089.jpg</string>
					<key>step</key>
					<string>3.放入吞拿鱼罐头和各种材料的混合物，然后再脱模。喜欢的话，加上烟熏的即食三文鱼。</string>
				</dict>
			</array>
			<key>sumary</key>
			<string>加醋和盐，糖，然后待冷，放入模具.......</string>
			<key>title</key>
			<string>怎样做烟熏三文鱼饭团</string>
		</dict>
		<key>thumbnail</key>
		<string>http://f2.mob.com/null/2015/08/20/1440029985331.jpg</string>
	</dict>
	<dict>
		<key>menuId</key>
		<string>00100010090000029030</string>
		<key>name</key>
		<string>花生酱黄金粥</string>
		<key>recipe</key>
		<dict>
			<key>img</key>
			<string>http://f2.mob.com/null/2015/08/20/1440005795591.jpg</string>
			<key>ingredients</key>
			<string>["小米50克、细玉米碴儿50克、清水1200克、花生酱50克、大杏仁50克。"]</string>
			<key>method</key>
			<array>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440005818271.jpg</string>
					<key>step</key>
					<string>1.花生酱用100克凉白开懈开、大杏仁用料理机打碎备用。</string>
				</dict>
				<dict>
					<key>img</key>
					<string>http://f2.mob.com/null/2015/08/20/1440005818450.jpg</string>
					<key>step</key>
					<string>2.小米和细玉米碴冲洗干净，加入1200克水大火煮开，转文火再煮20分钟。吃的时候，淋上花生酱、撒些杏仁碎就可以了，非常香滑健康的养生粥。</string>
				</dict>
			</array>
			<key>sumary</key>
			<string>花生酱杏仁黄金粥，是一道非常好喝、特别适合做早餐的养生粥。它用小玉米碴、小米熬煮而成，粗粮里面，营养最容易被吸收而且又没被破坏而流失掉的就是玉米渣和整粒小米。小米熬粥营养价值丰富，有“代参汤”之美称。黄澄澄的小米玉米碴粥，加上花生酱和大杏仁末，不仅味道香滑可口，还可以当作每日必备的肠胃清道夫。</string>
			<key>title</key>
			<string>怎样做花生酱杏仁黄金粥</string>
		</dict>
		<key>thumbnail</key>
		<string>http://f2.mob.com/null/2015/08/20/1440005795591.jpg</string>
	</dict>
</array>
</plist>
