<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<dict>
		<key>wx</key>
		<dict>
			<key>appKey</key>
			<string>wx67e72cbea79bfc4b</string>
			<key>appSecret</key>
			<string>a2ea86a33ef27ca4c1e4db6130298808</string>
		</dict>
		<key>wb</key>
		<dict>
			<key>appKey</key>
			<string>1126905370</string>
			<key>appSecret</key>
			<string>9fe6da5dd63ea68e426bfa701b1e20be</string>
			<key>redirectUri</key>
			<string>http://fsh.foxconn.com</string>
		</dict>
		<key>qq</key>
		<dict>
			<key>appKey</key>
			<string>1105627218</string>
			<key>appSecret</key>
			<string>XetjP01hHIMX8Esc</string>
		</dict>
	</dict>
	<key>UI</key>
	<dict>
		<key>wechat</key>
		<dict>
			<key>sequence</key>
			<string>1</string>
			<key>desc</key>
			<string>腾讯微信好友</string>
			<key>imgName</key>
			<string>wechat</string>
			<key>language</key>
			<dict>
				<key>chinese</key>
				<string>微信好友</string>
				<key>italiano</key>
				<string>WeChat</string>
			</dict>
		</dict>
		<key>wechattimeline</key>
		<dict>
			<key>sequence</key>
			<string>2</string>
			<key>desc</key>
			<string>腾讯微信朋友圈</string>
			<key>imgName</key>
			<string>wechattimeline</string>
			<key>language</key>
			<dict>
				<key>chinese</key>
				<string>微信朋友圈</string>
				<key>italiano</key>
				<string>WeChatTimeLine</string>
			</dict>
		</dict>
		<key>wb</key>
		<dict>
			<key>sequence</key>
			<string>3</string>
			<key>desc</key>
			<string>新浪微博</string>
			<key>imgName</key>
			<string>wb</string>
			<key>language</key>
			<dict>
				<key>chinese</key>
				<string>新浪微博</string>
				<key>italiano</key>
				<string>Sina Weibo</string>
			</dict>
		</dict>
		<key>qq</key>
		<dict>
			<key>sequence</key>
			<string>4</string>
			<key>desc</key>
			<string>腾讯QQ</string>
			<key>imgName</key>
			<string>qq</string>
			<key>language</key>
			<dict>
				<key>chinese</key>
				<string>QQ好友</string>
				<key>italiano</key>
				<string>QQ</string>
			</dict>
		</dict>
		<key>zone</key>
		<dict>
			<key>sequence</key>
			<string>5</string>
			<key>desc</key>
			<string>腾讯QQ空间</string>
			<key>imgName</key>
			<string>zone</string>
			<key>language</key>
			<dict>
				<key>chinese</key>
				<string>QQ空间</string>
				<key>italiano</key>
				<string>QQ Zone</string>
			</dict>
		</dict>
		<key>recommend</key>
		<dict>
			<key>sequence</key>
			<string>6</string>
			<key>desc</key>
			<string>加入推荐列表</string>
			<key>imgName</key>
			<string>recommend</string>
			<key>language</key>
			<dict>
				<key>chinese</key>
				<string>加入推荐列表</string>
				<key>italiano</key>
				<string>加入推荐列表</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
